@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'digital_7';
    src: url('./digital_7/digital-7\ \(italic\).ttf');
}

h1 {
    padding: 30px;
    text-align: center;
    background-color: #363636;
    color: #ebebeb;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    height: 100%;
    margin: 0px;
}

.wrapper {
    height: 100vh;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

form {
    align-self: center;
}

.menu {
    text-align: center;
    padding: 10px;
    background-color: #666666;
}

#newbook {
    align-self: center;
    width: 100px;
    height: 50px;
    border-radius: 10px;

}

p {
    font-size: 20px;
    text-align: left;
    align-items: center;
}



.modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4)
}



.modal-content {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    position: relative;
    padding: 10px;
    padding-left: 30px;
    outline: 0;
    width: 300px;
    border-radius: 15px;
    border-style: solid;
    border-color: #a6a6a6;
}

legend {
    margin-bottom: 15px;
    font-size: 20px;
}

.book_labels {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 200px;
    text-align: left;
    margin-bottom: 5px;
}


#author,
#title,
#pages,
#hasread,
{
font: 1em sans-serif;
width: 300px;
box-sizing: border-box;
border: 1px solid #999;
}


input:focus {
    border-color: #000;
}

.submit {
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}


.buttonWrap {
    display: flex;
    justify-content: space-between;
}


#modalSpan {
    align-self: center;
    margin-left: 10px;
    font-size: 15px;
}


#footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background-color: #363636;
    color: #ebebeb;
}


#books-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

}

.books-cards {
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    background-color: #5781ff;
    border-radius: 10px;
    width: 300px;
    height: 350px;
}

.book-title {
    padding-top: 5px;
    padding-bottom: 5 px;
    text-align: center;
    height: 100px;
}

h4 {
    font-size: 1.5rem;
    font-weight: bold;
}

.remove-button {
    margin-top: 10px;
    border-radius: 10px;
}

.book-author {}

.book-pages {}

.check-box {
    font-size: 20px;
    text-align: left;
    align-items: center;

}

input[type='checkbox'] {
    margin-right: 5px;
    accent-color: black;
}



a {
    color: #ebebeb;
    text-decoration: underline;
}



@media (max-width: 800px) {

    .wrapper {
        flex-direction: column;
    }

    .books-cards {
        margin: 10px;
        width: 100%;
    }

    #books-cards-container {
        display: flex;
        flex-direction: column;

    }


}